In [2]:
%load_ext sql

In [3]:
%sql postgresql://localhost/climbing_dev

## User Profiles: their routes

- user can save a route to their route_list

- create user_routes table
- id, route_id, user_id, status

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS user_routes
(id SERIAL PRIMARY KEY, user_id INTEGER REFERENCES users(id), route_id INTEGER REFERENCES climbing_routes(id))

 * postgresql://localhost/climbing_dev
Done.

[]

In [11]:
%%sql
select * from climbing_routes
LIMIT 5

 * postgresql://localhost/climbing_dev
4 rows affected.

[(1, 'White Rastafarian', 'Boulder', 'V2 R', 'https://cdn2.apstatic.com/photos/climb/118765367_sqsmall_1586991738.jpg', Decimal('-116.000000'), Decimal('34.000000'), None),
 (3, 'Illusion Dweller', 'Trad', '5.10b', 'https://cdn2.apstatic.com/photos/climb/106746660_sqsmall_1494137475.jpg', Decimal('-116.000000'), Decimal('34.000000'), None),
 (6, 'Too Big To Flail', 'Boulder', 'v10', 'https://www.mountainproject.com/photo/114260820/the-beauty', Decimal('-119.000000'), Decimal('37.000000'), None),
 (7, 'Led Zepplin', 'Boulder', 'V0 R', None, None, None, None)]

In [9]:
%%sql
select * from users
LIMIT 1

 * postgresql://localhost/climbing_dev
1 rows affected.

[(1, 'test', 'test@testmail.com', '$2a$10$KdzoLWH6GCr02CGKlAW47eXLS6Kxiu3O3ag7R3SPWFG2vpV.0cs3S')]

In [12]:
%%sql
INSERT INTO user_routes
(user_id, route_id)
VALUES
(1,1),
(1,3)

 * postgresql://localhost/climbing_dev
2 rows affected.

[]

In [4]:
%%sql
SELECT
    user_routes.user_id,
    user_routes.route_id,
    climbing_routes.name,
    climbing_routes.type,
    climbing_routes.rating,
    climbing_routes.image,
    climbing_routes.longitude,
    climbing_routes.latitude
FROM user_routes
LEFT JOIN climbing_routes
ON climbing_routes.id = user_routes.route_id
WHERE user_routes.user_id = 1

 * postgresql://localhost/climbing_dev
2 rows affected.

[(1, 1, 'White Rastafarian', 'Boulder', 'V2 R', 'https://cdn2.apstatic.com/photos/climb/118765367_sqsmall_1586991738.jpg', Decimal('-116.000000'), Decimal('34.000000')),
 (1, 3, 'Illusion Dweller', 'Trad', '5.10b', 'https://cdn2.apstatic.com/photos/climb/106746660_sqsmall_1494137475.jpg', Decimal('-116.000000'), Decimal('34.000000'))]

In [5]:
%%sql
select * from user_routes
where user_id = 1

 * postgresql://localhost/climbing_dev
6 rows affected.

[(3, 1, 1), (4, 1, 3), (5, 1, None), (6, 1, 7), (7, 1, 6), (8, 1, 1)]

In [6]:
%%sql
DELETE FROM user_routes
WHERE id = 5;

 * postgresql://localhost/climbing_dev
1 rows affected.

[]

In [7]:
%%sql 
ALTER TABLE user_routes
ADD COLUMN status VARCHAR(255),
ADD COLUMN notes VARCHAR(500)

 * postgresql://localhost/climbing_dev
Done.

[]

In [9]:
%%sql
select * from user_routes

 * postgresql://localhost/climbing_dev
5 rows affected.

[(3, 1, 1, None, None),
 (4, 1, 3, None, None),
 (6, 1, 7, None, None),
 (7, 1, 6, None, None),
 (8, 1, 1, None, None)]

In [11]:
%%sql
UPDATE user_routes
SET 
    status = 'projecting',
    notes = 'need 3 ropes, 2 crash pads'
WHERE id = 3;

 * postgresql://localhost/climbing_dev
1 rows affected.

[]

In [12]:
%%sql
select * from user_routes

 * postgresql://localhost/climbing_dev
5 rows affected.

[(4, 1, 3, None, None),
 (6, 1, 7, None, None),
 (7, 1, 6, None, None),
 (8, 1, 1, None, None),
 (3, 1, 1, 'projecting', 'need 3 ropes, 2 crash pads')]